# Data Science Tools and Ecosystem

## Author:
David Dewar

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
* List popular languages for Data Science
* List common language used by Data Scientists
* List some libraries that are commonly used by Data Scientists

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. JavaScript

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. Numpty
3. Pandas

|Data Science Tools|
|-----------------|
|Jupyter Notebook|
|RStudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
# This a simple arithmetic expression to mutiply then add integers:

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.

200/60

3.3333333333333335